@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

:root {
    --fonte1: verdana, Geneva, Tahoma, sans-serif
    --fonte2: 'Rubik', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: 'Bree Serif', serif;
}

header {
    background-color: black;
    background-image: url(../Projeto/Imagens/IMG-20220530-WA0031.jpg);
    background-attachment: fixed;
    background-position: bottom center;
    color: black;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
   font-variant: small-caps;
}

h1 {
    text-align: center;
    padding: 5px;
}

header > p {
    padding-bottom: 50px;
    text-align: center;
}

nav {
    background-color: white;
    padding: 10px;
    box-shadow: 0px 7px 9px rgb(0, 0, 0.315);
}

nav > a {
    color: black;
    padding: 10px;
    text-decoration: none;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;

}

section > p {
    text-align: center;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(116, 112, 112);
    color: white;
    background-attachment: fixed;
    display: block;
}

section.imagem > p {
    width: 400px;
    background-color: rgb(37, 33, 33);
}

section#img01 {
    background-image: url(../Projeto/Imagens/IMG-20220531-WA0042.jpg);
    background-position: right center;
    background-size: cover;
}

section#img02 {
    background-image: url(../Projeto/Imagens/IMG-20220531-WA0037.jpg);
    background-position: center;
    background-size: cover;
}

section#img03 {
    background-image: url(../Projeto/Imagens/download.jpg);
    background-position: left center;
    background-size: cover;
}
section#img04{
    background-image: url(../Projeto/Imagens/IMG-20220531-WA0055.jpg);
    background-position: center;
    background-size: cover;
}
section#img05 {
    background-image: url(../Projeto/Imagens/IMG-20220531-WA0050.jpg);
    background-position: center;
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}